body {
  background-color: grey;
  font-family: Helvetica;
}

h1 {
  background-color: cyan;
  text-align: center;
}

ul{
  background-color: #ffaaaa;
  font-size: 22px;
  list-style: none;
  font-weight: bold;
}

li::before {
  content: "\2022";
  color: cyan;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
