body {
  background-color: grey;
  font-family: Helvetica;
}

h1 {
  background-color: cyan;
  text-align: center;
  padding: 10px;
  font-size: 60px;
  margin: 8px;
}

.container {
  border: 6px dotted #ffaaaa;
}

ul{
  font-size: 22px;
  list-style: none;
  font-weight: bold;
  border: 6px dotted cyan;
}

li {
  margin: 0px auto;
  background-color: #ffaaaa;
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: -32px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

