body {
  font-family: Helvetica;
}

h1 {
  background-color: #3989f991;
  padding: 10px 0px;
  font-size: 60px;
  max-width: 100%;
  border: 6px dotted #0800ff96;
  margin: auto;
  text-align: center;
}

ul{
  font-size: 22px;
  list-style: none;
  font-weight: bold;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

li {
  border: 4px dotted #0800ff96;
  background-color: #3989f991;
  padding: 10px;
  text-align: center;
  flex: 1;
}

a {
  color: black;
}

