body {
  font-family: Helvetica;
}

img {
  width: 600px;
  height: auto;
  display: block;
  margin: 0px auto;
}

.emphasis {
  background-color: #0800ff96;
  text-align: center;
  color: #ffffff; 
  padding: 15px 0px;
}

ul,
ol {
  font-size: 22px;
  list-style: none;
  font-weight: bold;
}

ol {
  counter-reset: li;
}

ul li::before {
  content: "\2022";
}

li::before {
  color: #0800ff96;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  padding-right: 10px;
}

ol li::before {
  content: counter(li);
}

li {
  counter-increment: li;
  margin: 8px;
  background-color: #ffaaaa91;
  padding: 8px 8px;
}
